@page "/resident/room/room-detail/{id}"
@model MotelManagementWebAppUI.Pages.Resident.Room.RoomDetailModel
@{
    Layout = "_LayoutResident";
    ViewData["Title"] = "Chi tiết phòng";
    var BookedRoom = Model.BookedRoom;
    var IsTheOnlyRecord = Model.IsTheOnlyRecord;
    var RoomId = Model.RoomId;
}
@if(TempData["BookRoomSuccessMessage"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["BookRoomSuccessMessage"]')
    </script>
}
@if(TempData["BookRoomErrorMessage"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["BookRoomErrorMessage"]')
    </script>
}
<div style="width:100%; margin-top: 50px;">
    <img src="~/image/Room.png" style="width:30%; margin-left:20%; float:left;">
    <div style="width:fit-content; margin-left:10%; float:left;">
        <div>
            <div><h3>Thông tin phòng thuê</h3></div>
            <div><b>Mã phòng: </b>@Model.BookedRoom.Code</div>
            <div><b>Trạng thái: </b>@Model.BookedRoom.Status</div>
            @if (!@Model.IsTheOnlyRecord) { 
                <div><b>Tiền thuê phòng hiện tại: </b>@Model.BookedRoom.RentFee (Áp dụng cho các lần thu tiền trước ngày @Model.BookedRoom.NearestNextFeeAppliedDate)</div>
                <div><b>Tiền thuê phòng áp dụng cho các lần thu tiền sau ngày @Model.BookedRoom.NearestNextFeeAppliedDate: </b>@Model.BookedRoom.NearestNextRentFee</div>
            }
            else
            {
                <div><b>Tiền thuê phòng hiện tại: </b>@Model.BookedRoom.RentFee</div>
            }
            <div><b>Thuộc nhà trọ: </b>@Model.BookedRoom.MotelChainName</div>
        </div>
            @*<br />*@
        @*<div>
            <div><h3>Thông tin người thuê</h3></div>
            <div><b>Họ và tên người thuê: </b>@Model.BookedRoom.Resident.FullName</div>
            <div><b>CMND/CCCD: </b>@Model.BookedRoom.Resident.IdentityCardNumber</div>
            <div><b>Sđt: </b>@Model.BookedRoom.Resident.Phone</div>
            <div><b>Trạng thái: </b>@Model.BookedRoom.Resident.Status</div>
            <div><b>Ngày bắt đầu thuê: </b>@Model.BookedRoom.StartDate</div>
            <div><b>Ngày ngừng thuê: </b>@Model.BookedRoom.EndDate</div>
        </div>*@
    </div>
</div>
