@using BussinessObject.DTO
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    //RoomDTO room = this.ViewData.ContainsKey("room") ? (RoomDTO)this.ViewData["room"] : new RoomDTO();
    //var context = this.ViewData.ContainsKey("context") ? (HttpContext)this.ViewData["context"] : null;
    //var myCookie = context.Request.Cookies["token"];
 }
@model RoomDTO

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="create-object-form" >
                <div class="modal-body">
                    <div class="row">
                        <input type="number" asp-for="Status" value=1 hidden/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.Code" class="control-label"></label>
                            <input id="code" asp-for="@Model.Code" class="form-control" />
                            <span asp-validation-for="@Model.Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.RentFee" class="control-label"></label>
                            <input id="rent-fee" asp-for="@Model.RentFee" class="form-control" />
                            <span asp-validation-for="@Model.RentFee" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.FeeAppliedDate" class="control-label"></label>
                            <input id="fee-applied-date" asp-for="@Model.FeeAppliedDate" class="form-control" />
                            <span asp-validation-for="@Model.FeeAppliedDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" id="save-button">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <partial name="_ValidationScriptsPartial" />
