@page
@model MotelManagementWebAppUI.Pages.Room.RoomListModel
@{
    Layout = "_Layout";
}

<button type="button" class="btn-primary btn" data-toggle="ajax-modal" data-target="#addRoom"
data-url="@Url.Action("Create")">
<button type="button" class="btn btn-primary" onclick="$('#myModal').modal('show')">Show Modal</button>
Create
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListRoomDTO[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListRoomDTO[0].FeeAppliedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListRoomDTO[0].RentFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListRoomDTO[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListRoomDTO) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeeAppliedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
