@page
@model MotelManagementWebAppUI.Pages.Room.RoomListModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Room list";
    var newRoom = Model.NewRoom;
}
<div>
    <button id="add-new-room" type="button" class="btn btn-primary">Add new</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListRoomDTO[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListRoomDTO[0].FeeAppliedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListRoomDTO[0].RentFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListRoomDTO[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListRoomDTO)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeeAppliedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_ValidationScriptsPartial" />

<div id="popup">
    @await Html.PartialAsync("~/Pages/Room/_AddRoomPartial.cshtml", newRoom)
</div>

</div>


@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@section scripts {
<script>
    $(document).ready(function () {
      $("#add-new-room").click(function () {
          console.log("click");
        $("#myModal").modal({
          modal: true,
          title: "popup title",
          width: 400,
          height: 300,
          draggable: true,
          resizable: true,
        });
      });

      $("#create-object-form").submit(function (event) {
        event.preventDefault();
        console.log($(this));
        $.ajax({
          url: "http://localhost:5001/api/Room/add-new-room",
          type: "GET",
          headers: {
            "Authorization": "Bearer @HttpContext.Request.Cookies["token"]",
          },
          data: $(this).serialize(),
          success: function (result) {
            $("#myModal").fadeOut();
            // Reload the list of rooms on the main page
            window.location.reload();
          },
          error: function (xhr, status, error) {
            alert("Error creating room: " + error);
          },
        });
      });
    });

</script>
}


