@page
@model MotelManagementWebAppUI.Pages.Room.RoomListModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Room list";
    var newRoom = Model.NewRoom;
}
<div>
    <div>
        <form class="d-flex flex-column" method="post">
            <div class="d-flex flex-row">
                <div>
                    <label asp-for="@Model.filterRoomOption.roomCode" class="control-label"></label>
                    <input asp-for="@Model.filterRoomOption.roomCode" class="form-control" />
                </div>
                <div>
                    <label asp-for="@Model.filterRoomOption.minFee" class="control-label"></label>
                    <input asp-for="@Model.filterRoomOption.minFee" class="form-control" />
                </div>
                <div>
                    <label asp-for="@Model.filterRoomOption.maxFee" class="control-label"></label>
                    <input asp-for="@Model.filterRoomOption.maxFee" class="form-control" />
                </div>
                <div>
                    <label asp-for="@Model.filterRoomOption.appliedDateAfter" class="control-label"></label>
                    <input asp-for="@Model.filterRoomOption.appliedDateAfter" class="form-control" />
                </div>
                <div>
                    <label asp-for="@Model.filterRoomOption.status" class="control-label"></label>
                    <input asp-for="@Model.filterRoomOption.status" class="form-control" />
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-evenly mt-4 mb-0">
                <button id="search-room" type="submit" style="width: 100px" class="btn btn-primary btn-user btn-block" asp-page-handler="Search">Tìm kiếm</button>
                <button id="add-new-room" type="button" style="width: 100px; margin: 0" class="btn btn-primary btn-user btn-block">Thêm</button>
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListRoomDTO[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListRoomDTO[0].FeeAppliedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListRoomDTO[0].RentFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListRoomDTO[0].Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListRoomDTO != null && Model.ListRoomDTO.Count() > 0)
            {
                foreach (var item in Model.ListRoomDTO)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FeeAppliedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RentFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <partial name="_ValidationScriptsPartial" />

    <div id="popup">
        <partial name="~/Pages/Room/_AddRoomPartial.cshtml" model="@Model.NewRoom" />
    </div>

</div>


@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@section scripts {
<script>
    $(document).ready(function () {
      $("#add-new-room").click(function () {
          console.log("click");
        $("#myModal").modal({
          modal: true,
          title: "popup title",
          width: 400,
          height: 300,
          draggable: true,
          resizable: true,
        });
      });

      $("#create-object-form").submit(function (event) {
        event.preventDefault();
        let code = $("#code").val()
        let rentFee = $("#rent-fee").val();
        let feeApplyDate =$("#fee-applied-date").val();

         if ($(this).valid()) {
             $.ajax({
          url: "http://localhost:5001/api/Room/add-new-room?Code=" + code + "&FeeAppliedDate= " + feeApplyDate + "&RentFee=" + rentFee + " &Status=0",
          type: "POST",
          data: $(this).serialize(),
          headers: {
            "Authorization": "Bearer @HttpContext.Request.Cookies["token"]",
          },
          success: function (result) {
            $("#myModal").fadeOut();
            // Reload the list of rooms on the main page
            window.location.reload();
          },
          error: function (xhr, status, error) {
            alert("Error creating room: " + error);
          },
        });
        }

      });
    });

</script>
}


