@page "/resident/invoice/invoice-list"
@model MotelManagementWebAppUI.Pages.Resident.Invoice.InvoiceListModel
@{
    Layout = "_LayoutResident";
    ViewData["Title"] = "Danh sách hóa đơn";
}
<div id="room-list">
    <div class="mb-3">
        <form class="d-flex flex-column" method="post">

            <div class="row align-items-start">
                <div class="col">
                    <label asp-for="@Model.filterInvoiceOption.RoomCode" class="control-label"></label>
                    <input asp-for="@Model.filterInvoiceOption.RoomCode" class="form-control" />
                </div>
                <div class="col">
                    <label asp-for="@Model.filterInvoiceOption.PaidDate" class="control-label"></label>
                    <input asp-for="@Model.filterInvoiceOption.PaidDate" class="form-control" />
                </div>
                <div class="col">
                    <label asp-for="@Model.filterInvoiceOption.Status" class="control-label"></label>
                    <select asp-for="@Model.filterInvoiceOption.Status" asp-items="@Model.SelectLisInvoiceStatus" class="form-select">
                        <option selected="selected" value="">Tất cả</option>
                    </select>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-evenly mt-2 mb-0">
                <button id="search-room" type="submit" style="width: 100px" class="btn btn-primary btn-user btn-block" asp-page-handler="Search">Tìm kiếm</button>
                <button id="add-new-room" type="button" style="width: 100px; margin: 0" class="btn btn-primary btn-user btn-block">Thêm</button>
            </div>
        </form>
    </div>
    <div style="overflow: auto; height: 450px">
        <table class="table table-bordered">
            <thead style="position: sticky; top: 0; z-index: 999; background-color:gray" class="text-white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListInvoice[0].CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListInvoice[0].ExpiredDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListInvoice[0].Room.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListInvoice[0].Resident.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListInvoice[0].PaidDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListInvoice[0].Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="height: 400px" overflow-auto">
                @if (Model.ListInvoice != null && Model.ListInvoice.Count() > 0)
                {
                    foreach (var item in Model.ListInvoice)
                    {
                        <tr>
                            <td>
                                <span>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss", CultureInfo.InvariantCulture)</span>
                            </td>
                            <td>
                                @if (@item.ExpiredDate != null)
                                {
                                    <span>@item.ExpiredDate.Value.ToString("dd/MM/yyyy HH:mm:ss", CultureInfo.InvariantCulture)</span>
                                }
                                else
                                {
                                    <span class="m-0 p-0">-</span>
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Room.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Resident.FullName)
                            </td>
                            <td>
                                @if (@item.PaidDate != null)
                                {
                                    <span>@item.PaidDate.Value.ToString("dd/MM/yyyy HH:mm:ss", CultureInfo.InvariantCulture)</span>
                                }
                                else
                                {
                                    <span class="m-0 p-0">-</span>
                                }

                            </td>
                            <td>
                                @Model.ListInvocieStatus.ElementAt((int)item.Status).ToString()
                            </td>
                            <td class="d-flex justify-content-center">
                                <form method="post">
                                    <button type="button" onclick="window.location.href = '/invoice/detail/@item.Id'">
                                        <i class="fa-regular fa-square-info"></i>
                                    </button>
                                </form>

                            </td>   
                        </tr>
                    }
                }
                else
                {
                    <tr class="text-center">
                        <td colspan=5 class="text-center">Không có bất kì dữ liệu nào</td>
                    </tr>
                }

            </tbody>
            <tfoot style="position: sticky; inset-block-end: 0; z-index: 999; background-color:gray">
                <tr>
                    <td colspan=3 class="border-0 p-0">
                        @if (Model.filterInvoiceOption != null)
                        {
                            <form method="post" class="row justify-content-center">
                                @Html.HiddenFor(model => model.filterInvoiceOption.RoomCode)
                                @Html.HiddenFor(model => model.filterInvoiceOption.Status)
                                <input name="filterInvoiceOption.CurrentPage" value="@Model.filterInvoiceOption.CurrentPage" hidden />
                                @Html.HiddenFor(model => model.filterInvoiceOption.PageSize)
                                @if (Model.filterInvoiceOption.CurrentPage > 1)
                                {
                                    <button class="btn btn-dark col-1" type="submit" asp-page-handler="Previous"><i class="fa-solid fa-angle-left"></i></button>
                                }
                                else
                                {
                                    <button class="btn btn-dark col-1" type="submit" asp-page-handler="Previous" disabled><i class="fa-solid fa-angle-left"></i></button>
                                }
                                <p class="col-1 text-center" style="vertical-align: middle">
                                    @Model.filterInvoiceOption.CurrentPage
                                </p>

                                @if (Model.filterInvoiceOption.Total > Model.filterInvoiceOption.CurrentPage * Model.filterInvoiceOption.PageSize)
                                {
                                    <button class="btn btn-dark col-1" type="submit" asp-page-handler="Next"><i class="fa-solid fa-angle-right"></i></button>
                                }
                                else
                                {
                                    <button class="btn btn-dark col-1" type="submit" asp-page-handler="Next" disabled><i class="fa-solid fa-angle-right"></i></button>
                                }
                            </form>
                        }
                    </td>
                    <td class="border-0 p-0"></td>
                    <td class="border-0 p-0">Tổng: @Model.filterInvoiceOption.Total</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <partial name="_ValidationScriptsPartial" />

    @using BussinessObject.DTO
    @using BussinessObject.Status
    @using Microsoft.AspNetCore.Http
@using System.Globalization
    @inject IHttpContextAccessor HttpContextAccessor
    @section scripts {
    <script>
        function getInvoiceDetail (id){
                $.ajax({
                    url: '@Url.Page("InvoiceList", "InvoiceDetail")',
                    type: 'GET',
                    data: {
                        id: id
                    },
                    success: function (response) {
                        if(!response.success){

                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
        }
    </script>
    }

