@page "/admin/water/water-cost"
@model MotelManagementWebAppUI.Pages.WaterCost.WaterCostModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Danh sách tiền nước";
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div id="popup">
    @*@await Html.PartialAsync("~/Pages/Room/_AddRoomPartial.cshtml", null, new ViewDataDictionary(ViewData) { { "room", Model.NewRoom }, {"context", context } })*@
    <partial name="~/Pages/Admin/WaterCost/_WaterCostPartial.cshtml" model="@Model.waterRequestDTO" />
</div>
                <partial name="_ValidationScriptsPartial" />
                <script>
                        $(document).ready(function () {
                            $("#update-water-cost").click(function () {

                                $('#addWaterCost').modal('show');
                                

                            });
                            // $(".btn").click(function () {
                            //    $('#addWaterCost').modal('hide');

                            //});
                          
                        });
                        
                    </script>


<div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>

                        @{
                            int currentYear = DateTime.Today.Year;
                        }
                        @{
                            int currentMonth = DateTime.Today.Month;
                        }
                        @{
                            int year = (int)ViewData["year"];
                            int month = (int)ViewData["month"]; 
                        }

                        <form method="get">
                            <select name="year" onchange="this.form.submit()" class="btn btn-secondary dropdown-toggle">
                                @{
                                    if (year == 0)
                                    {
                                        <option value="0" selected>Tất cả</option>
                                    }
                                    else
                                    {
                                        <option value="0">Tất cả</option>
                                    }

                                    for (int i = currentYear + 10; i >= 2020; i--)
                                    {
                                        if (i == year)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                }
                            </select>

                            <select name="month" onchange="this.form.submit()" class="btn btn-secondary dropdown-toggle">
                                @{
                                    if (month == 0)
                                    {
                                        <option value="0" selected>Tất cả</option>
                                    }
                                    else
                                    {
                                        <option value="0">Tất cả</option>
                                    }

                                    for (int i = 1; i <= 12; i++)
                                    {
                                        if (i == month)
                                        {
                                            <option value="@i" selected> Tháng @i</option>
                                        }
                                        else
                                        {
                                            <option value="@i"> Tháng @i</option>
                                        }
                                    }
                                }
                            </select>
                        </form>
              
                    </th>

          <th>


                <div id="water-cost"></div>
            </th>   

                    <th>
                        <button id="update-water-cost" type="button" class="btn btn-primary">Cập nhật giá tiền nước</button>
              
                    
                  
                    
                        @using Microsoft.AspNetCore.Http 
@using System.Globalization;
                        @inject IHttpContextAccessor HttpContextAccessor 
                        @section scripts {

                   
                            <script>


                                $(document).ready(function () {
                                    $("#update-water-cost").click(function () {
                                      console.log("click");
                                        $("#addWaterCost").modal({
                                      modal: true,
                                      title: "popup title",
                                      width: 400,
                                      height: 300,
                                      draggable: true,
                                      resizable: true,
                                    
                                    });
                                  });

                               

                                  $("#create-object-form").submit(function (event) {
                                    event.preventDefault();
                                    let price = $("#price").val()
                                        let AppliedMonth = $("#appliedMonth").val();
                                        let AppliedYear = $("#appliedYear").val();
                                        let Price = $("#price").val();


                                        if ($(this).valid()) {
                                         $.ajax({
                                                url: "http://localhost:5001/api/WaterCost/add-water-cost",
                                                data: JSON.stringify({ Price: Price, AppliedMonth: AppliedMonth, AppliedYear: AppliedYear }),
                                                contentType: "application/json",
                                      type: "POST",
                                      headers: {
                                        "Authorization": "Bearer @HttpContext.Request.Cookies["token"]",
                                      },
                                      success: function (result) {
                                        $("#myModal").fadeOut();
                                        // Reload the list of rooms on the main page
                                        window.location.reload();
                                      },
                                      error: function (xhr, status, error) {

                                              
                                                    // Parse error response and get validation errors
                                                    var errorResponse = JSON.parse(xhr.responseText);
                                                    var validationErrors = errorResponse.errors;

                                                    // Create error message string
                                                    var errorMessage = "Có lỗi xảy ra:<br>";

                                                    for (var key in validationErrors) {
                                                        if (validationErrors.hasOwnProperty(key)) {
                                                            errorMessage += validationErrors[key] + "<br>";
                                                        }
                                                    }

                                                    // Show error message
                                                    $("#error-message").html(errorMessage);
                                                    $("#error-message").show();
                                      },    
                                    });
                                    }

                                  });
                                });

                            </script>



                                 <script>
                                    $(document).ready(function () {
                                        $.ajax({
                                            url: "http://localhost:5001/api/WaterCost/get-current-water-cost",
                                            type: "GET",
                                              headers: {"Authorization": "Bearer @HttpContext.Request.Cookies["token"]",},
                                            dataType: "json",
                                            success: function (data) {
                                                    var price = data.data.price;
                                                    var formattedPrice = price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                                                    $("#water-cost").html("Giá hiện tại: " + formattedPrice);
                                            },
                                            error: function () {
                                                $("#water-cost").html("Error: Không thể lấy giá tiền nước hiện tại, vui lòng reload lại trang");
                                            }
                                        });
                                    });
                                                                  
                                </script>
                            }
               
                    </th>



                </tr>
            </thead>
            
    </table>
    </div>
  @*  display table*@
    <div>
        <table class="table">
    <thead class="thead-dark">
    <tr>
            <th>
               No
            </th>
            <th>
                Giá(VND)
            </th>
            <th>
                Ngày Áp Dụng
            </th>
     </tr>
      </thead>

    <tbody>
        @{
            if (Model.waterCostDTOs.Count > 0)
            {
                int count = 0;
                @foreach (var item in Model.waterCostDTOs)
                {
                    count++;
                    <tr>
                        <td>
                           @count
                        </td>
                        <td>
                                @String.Format(CultureInfo.InvariantCulture, "{0:#,#} (VNĐ)",  item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.AppliedDate)
                        </td>
                        
                    </tr>


                }
            }
            }
      
    </tbody>


</table>

</div>



